:root{
    --clr-darkest: rgb(206, 148, 97);
    --clr-dark: rgb(222, 160, 87);
    --clr-light:rgb(224, 216, 176) ;
    --clr-lightest: rgb(252, 255, 231);
    --clr-main: ;
}

body{
   margin: 0%;
   background-color: var(--clr-lightest);
}
.navbar ul{
    list-style-type: none;
    background-color:var(--clr-light); 
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a{
    color: rgb(60, 54, 46);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
    
}
.navbar a:hover{
    background-color: rgb(205, 198, 164) ;
    color:rgb(60, 54, 46);
    text-shadow: 4px 3px 7px rgb(191, 182, 136);
    box-shadow: 4px 3px 5px rgb(170, 164, 135);
}
.navbar li{
    float: left;    
}

.container{
    font-size: large;
    font-family: 'Roboto', sans-serif;
    color: gray;
}
.box{

}
#box1{
    background-image: url(images/dijkhuisjebuiten1.jpg);
    height: 90vh;
    background-position-x: center;
    background-attachment: scroll ;
    background-size: cover;
    display: flex;
}
#tekstvoorpagina{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: end;
    
}
.box1tekst h1{
    color: var(--clr-dark);
    text-align: center;
}
.box1tekst {
    background-color: rgba(45, 44, 44, 0.61);
    color: white;
    padding: 10px;
    margin-left: 20%;
    margin-bottom: 2%;
}
#box2{
padding: 2%;
padding-top: 50px;
background-color: rgb(252, 255, 231);
margin-left: 20px;
margin-right: 20px;
margin-bottom: 90px;
}

#box2 img{
    width: 250px;
}
.geschranktl{
    float: left;
    margin-right: 20px;
}
.geschranktr{
    float: right;
    margin-left: 20px;
}
footer {
    background-color: #f2f2f2;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}