body{
    margin: 0px;
    background-color:rgb(133, 147, 161);
}
main{
    margin-left: 20px;
    margin-right: 20px;
}


.navbar ul{
    list-style-type: none;
    background-color: rgb(90, 105, 121);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: rgba(231, 236, 242, 0.545);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;   
    
}
.navbar a:hover{
    background-color: rgb(103, 120, 137) ;
    color: rgba(231, 236, 242, 0.919);
    text-shadow: 4px 3px 5px rgb(67, 71, 75);
    box-shadow: 4px 3px 5px rgb(67, 71, 75);
}
.navbar li{
    float: left;    
}
.navbar li:last-child{
 float:right; 
}
.pagina{
    background-color: rgb(103, 120, 137) ;
    box-shadow: 4px 3px 5px rgb(67, 71, 75);
}


.uitloggen{
    background-color: rgba(245, 246, 248, 0);
    display: flex;    
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    
    margin:20px;
    
    flex-wrap: wrap;
    align-content: center;
    
        
    

}
.loguit{
    
    text-decoration: none;
    font-size: small;
    background-color: rgba(225, 234, 244, 0.644);
    color: rgba(9, 34, 66, 0.725);
    border: 4px solid rgba(173, 183, 195, 0.644);
    border-radius: 2rem;
    padding: 10px;
    margin: 10px;
    font-weight: 700;
}
.uitloggen a:hover{
    background-color: rgb(225, 234, 244);
    color: rgba(9, 34, 66, 0.629);
    border: 4px solid rgba(185, 193, 203, 0.436);
    padding: 12px;
    border-radius: 2rem;
    box-shadow: 4px 3px 5px rgb(67, 71, 75);
}
.nietuitloggen{
    text-decoration: none;
    font-size: small;
    background-color: rgba(225, 234, 244, 0.644);
    color: rgba(9, 34, 66, 0.725);
    border: 4px solid rgba(173, 183, 195, 0.644);
    border-radius: 2rem;
    padding: 10px;   
    font-weight: 700;
}
.loginscherm{
    display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;  
        margin: 10px;
        flex-wrap: wrap;
        

box-shadow: 1px 1px 8px rgb(86, 92, 98),-1px -1px 8px rgb(86, 92, 98);
height: 97vh;
}
#loginlogo{
position:relative;
padding: 2rem;
font-size: 30px;
font-family: 'Montserrat', sans-serif;

}

.loginform{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    
padding-right: 20px;
}
.login{
              
    background-color: rgb(217, 224, 225);    
    padding: 10px;
    border: 4px solid rgba(255, 255, 255, 0.519);
    background-color: white;
    border-radius: 1rem;
    text-shadow: 1px 1px 5px rgb(184, 188, 193);
    box-shadow: 1px 1px 8px rgb(34, 35, 36),-1px -1px 8px rgb(34, 35, 36); 
    margin-top: 20px;
}


.loginform input,select{
    background-color:rgba(255, 255, 255, 0.904);
    border-radius: 2rem;
    box-shadow: 1px 1px 8px rgb(184, 188, 193);    
}


.inschrijvenform{
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
}
.inschrijvingsformulier{
    
    background-color: rgb(217, 224, 225);    
    padding: 2rem;
    padding-top:0.5rem;
    border: 4px solid rgba(178, 185, 186, 0.41);
    border-radius: 1rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgb(184, 188, 193);
    box-shadow: 1px 1px 8px rgb(34, 35, 36),-1px -1px 8px rgb(34, 35, 36);
}


.gegevensformulier input,select{
    background-color:rgba(255, 255, 255, 0.904);
    border-radius: 2rem;
    box-shadow: 1px 1px 8px rgb(184, 188, 193);    
}
#indienen{
background-color: rgb(189, 197, 203);
}




.container{
    display: flex;    
    flex-direction: row;
    justify-content: space-evenly;
   
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    align-content: flex-start;
    
    row-gap: 2em;
    column-gap: 1em;
    margin-block-start: 20px;
    margin-block-end: 20px;   
}
.box{   
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 18px solid rgb(239, 242, 244);
    
    box-shadow: 4px 3px 5px rgb(67, 71, 75);
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(239, 242, 244);
}

.container h4{
    color: black;
    font-size: larger;
    margin-top: 0%;
    margin-bottom: 10%;    
}
.studenten{    
    display: flex;    
    flex-direction: column;
    justify-content: space-evenly;   
    align-items: center;    
    row-gap: 3em;    
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}
.studentenh1{
    margin: 2rem;
}
.studentinschrijven a{          
    text-decoration: none;
    font-size: x-large;
    background-color: rgba(225, 234, 244, 0.644);
    color: rgba(9, 34, 66, 0.5);
    border: 4px solid rgba(173, 183, 195, 0.644);
    border-radius: 2rem;
    padding: 10px;
}
.studentinschrijven a:hover{
    background-color: rgb(225, 234, 244);
    color: rgba(9, 34, 66, 0.629);
    border: 4px solid rgba(185, 193, 203, 0.436);
    padding: 12px;
    border-radius: 2rem;
    box-shadow: 4px 3px 5px rgb(67, 71, 75);
}
.studentenbekijken a{
    text-decoration: none;
    font-size: x-large;
    background-color: rgba(225, 234, 244, 0.644);
    color: rgba(9, 34, 66, 0.5);
    border: 4px solid rgba(173, 183, 195, 0.644);
    border-radius: 2rem;
    padding: 10px;    
}
.studentenbekijken a:hover{
    background-color: rgb(225, 234, 244);
    color: rgba(9, 34, 66, 0.629);
    border: 4px solid rgba(185, 193, 203, 0.436);
    padding: 12px;
    border-radius: 2rem;
    box-shadow: 4px 3px 5px rgb(67, 71, 75);
}